@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.food-items{
	display:grid;
	position:relative;
	grid-template-rows: auto 1fr;
	border-radius:15px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	width: 250px;
	height: 240px;
	
	
}

.food-items img{
	position:relative;
	border-radius:15px 15px 0 0;
	width:250px;
	height:180px;
}




.details{
font-size: 16px;
font-weight: 600;
font-family:'Poppins', sans-serif;
margin-left:15px;
margin-top:4px;


}

table td{
	padding:30px;
}

